.boton-verde{
    @include boton($verde);
    border-radius: 1rem;
}

.boton-rojo{
    @include boton($naranjaClaro);

    border-radius: 1rem;
}


.boton-verde-block{
    @include boton($verde);
    display: block;
}

