@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
// Fuentes
$fuente_principal: 'Open Sans', sans-serif;
$fuente_banner : 'Overlock', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$blanco: #faebd7;
$negro: #221D23;
$marron: #4F3824;;
$naranja: #D1603D;
$naranjaClaro: #DDB967;
$verde: #D0E37F;
$verdeClaro: #D4E68B;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900