.imagen-contacto{
    display: block;
    margin: 2rem auto;
    height: auto;
    width: 50%;

    picture{
        justify-content: center;
   
}
}
.form-message {
    display: none;
    text-align: center;
    font-weight: 900;
    padding: 12px 8px;
    border-radius: 8px;
    margin-bottom: 18px;
    
    text-transform: uppercase;
    font-size: 12px;
  

    &.success {
      color: darken(#dcf2e6, 65%);
      background-color: #dcf2e6;
    }
  
    &.error {
      color: darken(#f2dcdc, 65%);
      background-color: #f2dcdc;
    }
  }
