.formulario{
    p {
        font-size: 1.7rem;
        color: $marron;
        margin: 2rem 0 0 0;
    }

    fieldset {
        border-radius: 1rem;
    }
    legend{
        font-size: 2rem;
        color: $marron;
    }

    label {
        font-weight: $bold;
        text-transform: uppercase;
        display: block;
    }

    input:not([type="submit"]), 
    textarea,
    select {
        padding: 1rem;
        display: block;
        width: 100%;
        border: 1px solid $marron;
        border-radius: 1rem;
        margin-bottom: 2rem;
    }
    textarea{
        height: 20rem;
    }

    .forma-contacto {
        max-width: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}