
.header{
    margin-bottom: 2.5rem;

    
    a{
    color: $marron;
    font-weight: $bold;
    }

        

}


.contenido-header{
    margin-right: 10rem;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

     @include tablet {
         min-height: 7rem;
     }
}
.logo{
    margin: 0 auto;
        width: 30rem;
}