.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-header{

    display: none;

    @include tablet{
        display: flex;
        align-items: center;
        
    }
    a{
        // margin-right: 5rem;
        // margin-top: 3rem;
        color: $negro;
        text-decoration: none;
        font-size: 2.5rem;
        display: block;
        text-align: center;

        @include tablet{
            flex-direction: row;
            height: auto;
            margin-right: 5rem;
            font-size: 2rem;

            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}


// .navegacion-header a:hover {
//     transition:ease-in-out 0.5s;
   
//     color: #4F3824; /* Color de fondo al pasar el mouse */
// }

// MENU HAMBURGUESA

.mobile-menu{
    @include tablet{
        display: none;
    }

    img {
        width: 6rem;

    }
}

.mostrar{
    display: block;
}

.navegacion-header a:hover{
    transform: scale(1.1, 1,1);
}
.navegacion-header:hover > a:not(:hover){
    transition: ease 0.5s;
    filter:blur(2px);
    transform: scale(0.9, 0.9);
}