.barra-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet{
        flex-direction: row;
        justify-content: space-between;
    }
}


.navegacion-sidebar {

    display: none;

    @include tablet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 5px;
    
    }

    a{
        margin-left: 5rem;
        margin-right: 5rem;
        color: $blanco;
        font-weight: bold;
        text-decoration: none;
        font-size: 2rem;
        display: block;
        text-align: center;
    }
     background-color: $negro; 
     padding: 20px; /* Espaciado interno */
     box-shadow: 2px 0 5px rgba(0,0,0,0.5); 
     transition: all 0.5s ease;
     @include tablet{
         flex-direction: row;
         justify-content: space-between;
         height: auto;
     }
 }

 .navegacion-sidebar a:hover {
    transition:ease-in-out 0.5s;
   
    color: #D4BE6A; /* Color de fondo al pasar el mouse */
}

// MENU HAMBURGUESA

.mobile-menu-sidebar{
    @include tablet{
        display: none;
    
    }

    img {
        width: 6rem;

    }
}

.mostrar{
    display: flex;
    flex-direction: column;

    @include tablet{
        flex-direction: row;
    }
}
